@model AvLojaInterativa.Data.DTO.CategoriaDTO

<option value="@Model.Categoria_1">@Model.Categoria_1</option>
@if (Model.Categoria_2 != null)
{
    <option value="@Model.Categoria_2">@Model.Categoria_2</option>
}
@if (Model.Categoria_3 != null)
{
    <option value="@Model.Categoria_3">@Model.Categoria_3</option>
}

