@model IEnumerable<AvLojaInterativa.Data.DTO.ProdutoDTO>

@{
    ViewData["Title"] = "Avaliação Loja Interativa";
}

<div class="d-flex justify-content-between flex-wrap" style="row-gap: 20px; column-gap: 60px;">
    <div class="flex-fill bd-highlight">
        <div id="produto">
        </div>
    </div>

    <div class="flex-fill bd-highlight">
        <div id="fabricante">
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <span class="text-uppercase">@Html.DisplayNameFor(model => model.Id)</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeFabricante)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                        <!-- <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#editModal" onclick="getEdit('@Url.Action("Edit", "Produto")/@item.Id')">
                            Editar Equipes
                        </button> -->
                        <button class="btn btn-primary" type="button" onclick="@("window.location.href='" + @Url.Action("Edit", "Produto") + "/" + item.Id + "'")">
                            Editar Equipes
                        </button>
                        <button class="btn btn-primary" type="button" onclick="@("window.location.href='" + @Url.Action("Delete", "Produto") + "/" + item.Id + "'")">
                            Deletar
                        </button>
                        </td>
                    </tr>
            }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        getProduto('@Url.Action("Create")');
        getFabricante('@Url.Action("Create", "Fabricante")');
    }
</script>
