@model IEnumerable<AvLojaInterativa.Models.FabricanteModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria_3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_3)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
